section {
	display: flex;
}

section.intro .container {
    display: flex;
    justify-content: space-between;
}


section.intro .container .img-div {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
}

section.intro .container img {
    width: 90%;
    margin: 1em;
}

section.intro .container .bio {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1% 7%;
}

section.intro .container div * {
	margin: 2% 0;
}

section.intro .container div button {
	width: 10em;
}

section.gallery {
	min-height: max-content;
	flex-direction: column;
}

section.gallery div.row {
    margin: 2vh 0 3vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.gallery div.row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}