section {
	display: flex;
}

section.intro .container {
    display: flex;
}


section.intro .container .img-div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

section.intro .container img {
    width: 90%;
    margin: 1em;
    object-fit: contain;
}

section.intro .container .bio {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: box-border;
}

section.intro .container div.bio * {
	margin: 2% 15%;
}

section.intro .container div.bio button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: fit-content;
    animation: glow 5s infinite;
}

@keyframes glow {
    from {
        box-shadow: 0;
    }
    50% {
        box-shadow: 5px 5px;
    }
    to {
        box-shadow: 0;
    }
}

section.gallery {
	min-height: max-content;
	flex-direction: column;
}

section.gallery div.row {
    margin: 2vh 0 3vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.gallery div.row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.gallery div.row div a img {
    width: 200px;
}