section {
	display: flex;
}

section.intro .container {
    display: flex;
}


section.intro .container .img-div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

section.intro .container img {
    width: 90%;
    margin: 2%;
    object-fit: contain;
}

section.intro .container .bio {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: box-border;
}

section.intro .container div.bio * {
	margin: 2% 15%;
}

section.intro div.container div.bio a.button-link {
    padding: .5% 3%;
    animation: glow 5s infinite;
}

@keyframes glow {
    from {
        box-shadow: 0;
    }
    50% {
        box-shadow: .5rem .5rem;
    }
    to {
        box-shadow: 0;
    }
}

section.gallery {
	min-height: max-content;
	flex-direction: column;
}

section.gallery div.row {
    margin: 2% 0 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.gallery div.row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.gallery div.row div a img {
    width: 20rem;
}

@media (max-width: 800px) {
    section.intro div.container div.bio * {
        margin-left: 4%;
        margin-right: 4%;
    }
    section.gallery {
        padding: 1% 0 1% 0;
    }
}
@media (max-width: 500px) { /* works well up to 600x */
    section.intro .container {
        flex-direction: column;
        align-items: center;
    }
    section.intro .container div.img-div {
        width: 100%;
    }

    section.intro .container div.img-div img {
        width: 100%;
        margin: 0;
    }

    section.intro div.container div.bio {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    section.intro div.container div.bio a.button-link {
        padding: 1% 0;
        width: 35%
    }

    footer .button-link {
        margin: 1% 0;
        padding: 3% 7%;
    }

    section.gallery div.row {
        margin: 0;
    }

    section.gallery div.row div {
        margin: 3% 0;
    }
}